header {
    position: relative;
	z-index: 100;
	.navbar-text > .btn {
		text-align: center;
		width: 42px;
		height: 42px;
	}
}

.logo {
    background: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    img {
        height: 30px;
    }
    @media (max-width: 450px) {
        display: none!important;
    }
}

.title {
    font-size: 25px;
    strong {
        position: relative;
        z-index: 2;
        display: inline-block;
        line-height: 25px;
        font-size: 35px;
    }
    em {
        text-indent: -4px;
        display: inline-block;
        color: #fff;
        z-index: 1;
        position: relative;
    }
}

#dropdown {
    position: absolute;
    right: 0;
    top: 100%;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
}
