<div class="container">
	<div *ngIf="loading" class="text-center text-big">
		<i class="fas fa-circle-notch fa-spin loading-icon"></i>
		<p class="loading-title">Connexion...</p>
	</div>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">
		<h2>Connexion</h2>

		<div *ngIf="error" class="alert alert-danger">
			<i class="fa fa-exclamation-triangle"></i>
			Erreur de connexion
		</div>

        <label for="nom">E-mail *</label>
        <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="E-mail *" formControlName="email">
        </div>

        <label for="prenom">Mot de passe *</label>
        <div class="input-group mb-4">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="prenom" placeholder="Mot de passe *" formControlName="password">
            <div class="input-group-append">
                <button class="input-group-text btn btn-warning" (click)="showPassword = !showPassword" type="button">
                    <i *ngIf="showPassword" class="fa fa-eye"></i>
                    <i *ngIf="!showPassword" class="fa fa-eye-slash"></i>
                </button>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-success" [disabled]="form.invalid" type="submit">
                Connexion
                <i class="fa fa-sign-in-alt"></i>
            </button>
        </div>
    </form>
</div>
